body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.search-bar input {
  flex-grow: 1;
  max-width: 300px;
}

.search-bar button {
  flex-shrink: 0;
}

.btn-group-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
}

.btn-group-wrap .btn {
  flex: 0 1 auto;
  max-width: 150px;
  font-size: 0.875rem;
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.main-weather-info {
  align-content: center;
}

.main-weather-info img {
  padding: 8px 8px;
}

.city-name {
  font-size: 44px;
}

.temperature {
  font-size: 40px;
}

.weather-data {
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  color: rgb(33, 33, 33);
}

.hourly-forecast {
  list-style: none;
  align-content: center;
  border-top: 1px solid rgb(65, 65, 65);
  flex-wrap: nowrap;
  padding-top: 10px;
}

.hourly-forecast-item {
  display: flex;
  flex: 1 1 15%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-weight: bold;
}

.hourly-forecast-item span {
  flex: 1;
  text-align: center;
}

.hourly-forecast-item img {
  width: 40px;
  height: auto;
}

.hourly-forecast-item p {
  line-height: auto;
}